<div class="jumbotron">
  <div id="my_carousel" class="carousel slide" data-ride="carousel">
    <!-- Bulles -->
    <h2>Some Pictures</h2>
    <ol class="carousel-indicators">
      <li data-target="#my_carousel" data-slide-to="0"></li>
      <li data-target="#my_carousel" data-slide-to="1"></li>
      <li data-target="#my_carousel" data-slide-to="2"></li>
      <li data-target="#my_carousel" data-slide-to="3"></li>
    </ol>
    <!-- Slides -->
    <div class="carousel-inner">
      <!-- Page 1 -->
      <div class="item active">
        <div class="carousel-page">
          <img src="/images/parlement.jpg" class="img-responsive img-rounded" style="margin:0px auto;max-height:100%;"/>
        </div>
        <div class="carousel-caption">Parlement Canadien</div>
      </div>
      <!-- Page 2 -->
      <div class="item">
        <div class="carousel-page"><img src="/images/teddy.jpg" class="img-responsive img-rounded"
                                        style="margin:0px auto;max-height:100%;"/></div>
        <div class="carousel-caption">Rue dans Montréal</div>
      </div>
      <!-- Page 3 -->
      <div class="item">
        <div class="carousel-page">
          <img src="/images/patMont.jpg" class="img-responsive img-rounded" style="margin:0px auto;max-height:100%;"/>
        </div>
        <div class="carousel-caption">Patinoire du Vieux Port de Montreal</div>
      </div>
      <!-- Page 4 -->
      <div class="item">
        <div class="carousel-page">
          <img src="/images/Frontenac.jpg" class="img-responsive img-rounded" style="margin:0px auto;max-height:100%;"/>
        </div>
        <div class="carousel-caption">Quebec l'hiver</div>
      </div>
    </div>
  </div>
</div>
